<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--include admin/user.html文件下的 fragment(resources)片段-->
<head th:include="admin/resources.html :: resources">
	
	<script type="text/javascript">
		
		$(".container-me ul li>a").click(function (e) {
			
		    e.preventDefault();
		    $(this).tab("show");
        });
		
	</script>
	
</head>
<body>

<nav class="navbar navbar-inverse" th:fragment="navbar">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="admin_category_list">Tmall后台管理</a>
		</div>
		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="admin_category_list">分类管理</a></li>
				<li><a href="admin_order_list">订单管理</a></li>
				<li><a href="admin_user_list">用户管理</a></li>
				<li><a href="admin_data_list">数据分析</a></li>
			</ul>
		</div>
	</div>
</nav>

</body>
</html>