<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/resources.html :: resources">
</head>
<body>

<div th:replace="admin/admin.html :: navbar"></div>

<div class="m-container" id="categoryDiv">
	<div class="control-label">
		<span class="label label-success">分类管理</span>
	</div>
	<br>
	<ol class="breadcrumb">
		<li><a href="#">分类管理</a></li>
		<!--<li><a href="#">Library</a></li>-->
		<!--<li class="active">Data</li>-->
	</ol>
	<div class="categoryTable">
		<table class="table table-bordered">
			<thead class="bg-info">
				<tr>
					<th>ID</th>
					<th>图片</th>
					<th>分类名称</th>
					<th>属性管理</th>
					<th>产品管理</th>
					<th>编辑</th>
					<th>删除</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="bean in beans">
					<td>{{bean.id}}</td>
					<td><img height="200px" width="900"  :src="'images/category/'+bean.id+'.jpg'"> </td>
					<td>{{bean.name}}</td>
					<td>
						<!--bean.id-->
						<a :href="'admin_property_list?cid=' + bean.id">
							<span class="glyphicon glyphicon-th-list"></span>
						</a>
					</td>
					<td>
						<a :href="'admin_product_list?cid=' + bean.id">
							<span class="glyphicon glyphicon-shopping-cart"></span>
						</a>
					</td>
					<td>
						<a :href="'admin_category_edit?cid=' + bean.id">
							<span class="glyphicon glyphicon-pencil">
						</span>
						</a>
					</td>
					<td>
						<a :href="'admin_category_delete?cid=' + bean.id" @click="deleteCategory($event,bean.id)">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="paginationDiv" th:fragment="pagination">
			<ul class="pagination">
				<li>
					<a href="#" :class="{disabled: pagination.pageNum==1}" @click="jump('first')">&laquo;</a>
				</li>
				<li>
					<a href="#" :class="{disabled: pagination.pageNum==i}" v-for="i in pagination.navigatepageNums"
					   @click="jumpByNumber(i)">{{i}}</a>
				</li>
				<li>
					<a href="#" :class="{disabled: pagination.pageNum==pagination.pages}" @click="jump('last')">&raquo;</a>
				</li>
			</ul>
		</div>
		<div class="editPropertyDiv">
			<div class="panel panel-info">
				<div class="panel-heading">
					新增分类
				</div>
				<div class="panel-body">
					<!--图片上传-->
					<input type="hidden" name="id" v-model="category.id">
					分类名称:<input  v-model="category.name" name="name" type="text" class="form-control">
					<input id="categoryPic" accept="image/*" type="file" name="image" @change="getFile($event)" />
				</div>
				<div class="submitBtn">
					<button type="submit" @click="add" class="btn btn-success">添加</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	var cid = getUrlParam("cid");
	
	$(function () {

		var data4Vue = {

			url: "categories",
			beans: [],
			pagination: {},
			category: {id:0, name:""},
			file: null,
		};

		var vue = new Vue({

			el: "#categoryDiv",
			data: data4Vue,
			mounted: function () {
			 
				this.list(0)
			},
			methods: {

				list: function (start) {

					var url = this.url + "?start=" + start;
					axios.get(url).then(function (response) {

						vue.pagination = response.data;
						vue.beans = response.data.list;
					})
				},
				add: function(){
				
				    if (!isEmpty(this.category.name, "分类名称"))
				        return;
                    if (!isEmpty(this.file, "分类图片"))
                        return;
					
                    // alert(this.category.name);
                    // alert(this.file);
                    var url = this.url;
                    var formData = new FormData();
                    formData.append("name", this.category.name);
                    formData.append("image", this.file);

                    var config = {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    };
					
                    axios.post(url, formData, config).then(function (response) {
						
                        vue.list(0);
                        vue.category = {id:0, name:""};
                        $("#categoryPic").val('');
                        vue.file = null;
					})
                },
				deleteCategory: function(e, id){
				  
				    e.preventDefault();
				    // 传入一个事件，取消默认行为, ID从遍历的时候传入
				    var url = this.url + "/" + id;
				    alert(url);
				    axios.delete(url).then(function (response) {
						
				        vue.list(0);
                    })
				},
                getFile: function (event) {
                    this.file = event.target.files[0];
                },
                jump: function(page){
                    if('first'== page && 1!=vue.pagination.pageNum)
                        vue.list(1);

                    // else if('pre'== page && vue.pagination.hasPreviousPage )
                    //     vue.list(vue.pagination.prePage);
					//
                    // else if('next'== page && vue.pagination.hasNextPage)
                    //     vue.list(vue.pagination.nextPage);

                    else if('last'== page && vue.pagination.pageNum!=vue.pagination.pages)
                        vue.list(vue.pagination.pages);

                },
                jumpByNumber: function(start){
                    if(start!=vue.pagination.pageNum)
                        vue.list(start);
                }
			}
		})
	})

</script>

</body>
</html>