<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/resources.html :: resources">
</head>
<body>

<div th:replace="admin/admin.html :: navbar"></div>

<th:block th:replace="admin/admin.html :: navbar">

</th:block>

<div class="m-container" id="categoryDiv">
	<div class="control-label">
		<span class="label label-success">分类管理</span>
	</div>
	<br>
	<ol class="breadcrumb">
		<li><a href="#">分类管理</a></li>
		<!--<li><a href="#">Library</a></li>-->
		<!--<li class="active">Data</li>-->
	</ol>
	<div class="categoryTable">
		<table class="table table-bordered">
			<thead class="bg-info">
				<tr>
					<th>ID</th>
					<th>图片</th>
					<th>分类名称</th>
					<th>属性管理</th>
					<th>产品管理</th>
					<th>编辑</th>
					<th>删除</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="bean in beans">
					<td>{{bean.id}}</td>
					<td><img height="200px" width="900"  :src="'images/category/'+bean.id+'.jpg'"> </td>
					<td>{{bean.name}}</td>
					<td>
						<!--bean.id-->
						<a :href="'admin_property_list?cid=' + bean.id">
							<span class="glyphicon glyphicon-th-list"></span>
						</a>
					</td>
					<td>
						<a :href="'admin_product_list?cid=' + bean.id">
							<span class="glyphicon glyphicon-shopping-cart"></span>
						</a>
					</td>
					<td>
						<a :href="'admin_category_edit?cid=' + bean.id">
							<span class="glyphicon glyphicon-pencil">
						</span>
						</a>
					</td>
					<td>
						<a :href="'admin_category_delete?cid=' + bean.id">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">

	$(function () {

		var data4Vue = {

			urls: "",
			beans: []
		};

		var vue = new Vue({

			el: "#categoryDiv",
			data: data4Vue,
			mounted: function () {
				this.list()
			},
			methods: {

				list: function () {

					var url = "categories";
					axios.get(url).then(function (response) {

						vue.beans = response.data;
						console.log(vue.beans);
					})
				}
			}
		})
	})

</script>

</body>
</html>