<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head th:include="admin/resources.html :: resources">
</head>
<body>

<div th:replace="admin/admin.html :: navbar"></div>
<div class="m-container" id="listProductImage">
	<div class="control-label">
		<span class="label label-success">产品图片管理</span>
	</div>
	<br>
	<ol class="breadcrumb">
		<li><a href="admin_category_list">所有分类</a></li>
		<!--<li><a href="admin_category_list">{{category.name}}</a></li>-->
		<!--<li><a href="admin_category_list">{{product.name}}</a></li>-->
		<li><a href="admin_category_list">爱上杜甫</a></li>
		<li><a href="admin_category_list">阿斯顿发生</a></li>
		<li class="active">产品图片管理</li>
	</ol>
	<div class="productImageDiv">
		<div class="row">
			<div class="col-xs-4 col-xs-push-1">
				<div class="productSingleImg">
					<table class="table table-bordered">
						<thead class="bg-info">
							<tr>
								<th>ID</th>
								<th>单个产品图片</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>999</td>
								<td>
									<img src="images/productSingle/19.jpg" alt="单个产品图片" width="100px">
								</td>
								<td>
									<a :href="'admin_productImage_delete" >
										<span class="glyphicon glyphicon-trash"></span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="submitBtn">
						<button type="submit" @click="add" class="btn btn-success">添加</button>
					</div>
				</div>
			</div>
			<div class="col-xs-4 col-xs-push-3">
				<div class="productDetailImg">
					<table class="table table-bordered">
						<thead class="bg-info">
							<tr>
								<th>ID</th>
								<th>单个产品图片</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>999</td>
								<td>
									<img src="images/productSingle/19.jpg" alt="单个产品图片" width="100px">
								</td>
								<td>
									<a :href="'admin_productImage_delete" >
										<span class="glyphicon glyphicon-trash"></span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="submitBtn">
						<button type="submit" @click="add" class="btn btn-success">添加</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

	var data4Vue = {
	    
	    url: "productImage",
	    productImages: [],
		productImage: {id:0, pid: "", type:""}
	};

	var vue = new Vue({
		
		el: "listProductImage",
		data: data4Vue,
		mounted: function () {
			
        },
		methods: {
		    
		    list: function () {
				
		        
            }
		}
	})
	
</script>

</body>
</html>