<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/resources.html :: resources">
</head>
<body>

<div th:replace="admin/admin.html :: navbar"></div>

<div class="m-container">
    <div class="control-label">
        <span class="label label-success">订单管理</span>
    </div>
    <br>
    <div id="orderDiv">
        <table class="table table-bordered">
            <thead class="bg-info">
                <tr>
                    <th>ID</th>
                    <th>状态</th>
                    <th>金额</th>
                    <th>数量</th>
                    <th>买家</th>
                    <th>创建时间</th>
                    <th>支付时间</th>
                    <th>发货时间</th>
                    <th>收货时间</th>
                    <th>收货时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>