<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/resources.html :: resources">
</head>
<body>

<div th:replace="admin/admin.html :: navbar"></div>

<div class="m-container" id="orderDiv">
    <div class="control-label">
        <span class="label label-success">订单管理</span>
    </div>
    <br>
    <div>
        <table class="table table-bordered">
            <thead class="bg-info">
                <tr>
                    <th>ID</th>
                    <th>状态</th>
                    <th>金额</th>
                    <th>数量</th>
                    <th>买家</th>
                    <th>创建时间</th>
                    <th>支付时间</th>
                    <th>发货时间</th>
                    <th>收货时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <template v-for="o in orders">
                    <tr>
                        <td>{{o.id}}</td>
                        <td>
                            <!--根据订单的状态显示不同的颜色, 要用 === 判断-->
                            <div v-if="o.status === 'finish'">
                                <span class="label label-success">{{o.status | formatStatus()}}</span>
                            </div>
                            <div v-else-if="o.status === 'waitPay'">
                                <span class="label label-danger">{{o.status | formatStatus()}}</span>
                            </div>
                            <div v-else-if="o.status === 'waitDelivery'">
                                <span class="label label-primary">{{o.status | formatStatus()}}</span>
                            </div>
                            <div v-else-if="o.status === 'waitReview'">
                                <span class="label label-info">{{o.status | formatStatus()}}</span>
                            </div>
                            <div v-else>
                                <span class="label label-default">{{o.status | formatStatus()}}</span>
                            </div>
                        </td>
                        <td>￥{{o.total}}</td>
                        <td>{{o.totalNum}}</td>
                        <td>{{o.user.name}}</td>
                        <!--格式化时间-->
                        <td>{{o.createDate | formatDate}}</td>
                        <td>{{o.payDate | formatDate}}</td>
                        <td>{{o.deliveryDate | formatDate}}</td>
                        <td>{{o.confirmDate | formatDate}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" id="detailBtn">查看详情</button>
                            <button type="button" class="btn btn-primary" id="deliveryBtn">发货</button>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
        <div class="paginationDiv" th:fragment="pagination">
            <ul class="pagination">
                <li>
                    <a href="#" :class="{disabled: pagination.pageNum==1}" @click="jump('first')">&laquo;</a>
                </li>
                <li>
                    <a href="#" :class="{disabled: pagination.pageNum==i}" v-for="i in pagination.navigatepageNums"
                       @click="jumpByNumber(i)">{{i}}</a>
                </li>
                <li>
                    <a href="#" :class="{disabled: pagination.pageNum==pagination.pages}" @click="jump('last')">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    
    var data4Vue = {
        
        url: "orders",
        orders: [],
        pagination: "",
        orderItemList: "",
    };
    
    var vue = new Vue({
        
        el: "#orderDiv",
        data: data4Vue,
        mounted: function () {
            
            this.list(0);
        },
        methods: {
            
            list: function (start) {
                
                var url = this.url + "?start=" + start;
                axios.get(url).then(function (response) {
                    
                    vue.pagination = response.data;
                    vue.orders = vue.pagination.list;
                    vue.orderItemList = vue.pagination.orderItemList;
                })
            },
            jump: function(page){
                if('first'== page && 1!=vue.pagination.pageNum)
                    vue.list(1);
        
                else if('last'== page && vue.pagination.pageNum!=vue.pagination.pages)
                    vue.list(vue.pagination.pages);
        
            },
            jumpByNumber: function(start){
                if(start!=vue.pagination.pageNum)
                    vue.list(start);
            }
        }
        
    });

    // 格式化时间
    Vue.filter('formatDate', function (value, formatString) {
        if(null==value)
            return "";
        formatString = formatString || 'YYYY-MM-DD HH:mm:ss';
        return moment(value).format(formatString);
    });
    // 格式化订单状态
    Vue.filter('formatStatus', function (status) {
        
        if(null==status)
            return "";
        if (status == "finish"){
            
            status = "交易完成";
        }else if (status == "waitDelivery"){
            
            status = "待发货";
        }else if (status == "waitConfirm"){
            
            status = "待收货";
        }else if (status == "waitReview"){
            
            status = "待评价";
        }else if (status == "waitPay"){
            
            status = "待付款";
        }
        return status;
    });
    
</script>

</body>
</html>