<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head th:include="admin/resources.html :: resources">
</head>
<body>

<div th:replace="admin/admin.html :: navbar"></div>

<div class="m-container" id="propertyDiv">
	<div class="control-label">
		<span class="label label-success">分类管理</span>
	</div>
	<br>
	<ol class="breadcrumb">
		<li><a href="admin_category_list">所有分类</a></li>
		<li class="active">{{category.name}}</li>
		<!--<li class="active">Data</li>-->
	</ol>
	<div class="propertyDiv">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>属性名称</th>
					<th>编辑</th>
					<th>删除</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="p in properties">
					<td>{{p.id}}</td>
					<td>
						<!--{{p.name}}-->
						<!--获取自定义属性的值，:pid -->
						<input type="text" v-model="p.name" @blur="update(p.id)" :pid="p.id">
					</td>
					<td>
						<a href="#" @click="toFocus(p.id)">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
					</td>
					<td>
						<a href="#" @click="deleteProperty(p.id)">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<!--<th:block th:replace="admin/listCategory.html :: pagination">-->
		<!---->
		<!--</th:block>-->
		<div class="editPropertyDiv">
			<div class="panel panel-info">
				<div class="panel-heading">
					新增属性
				</div>
				<div class="panel-body">
					<!--获取对象的值，v-model-->
					属性名称：<input type="text" id="input" v-model="property.name" class="form-control">
				</div>
				<div class="submitBtn">
					<input type="hidden" name="id" v-model="property.id">
					<button type="submit" @click="add" class="btn btn-success">添加</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

    // "cid"才能获取得到
    var cid = getUrlParam("cid");

    var data4Vue = {

        url: "properties",
        properties: [],
		property: {id:0, name:"", cid: cid},
        category: {id:0, name:""},
		pagination: {},
		isActive: false
    };

    var vue = new Vue({

        el: "#propertyDiv",
        data: data4Vue,
        mounted: function () {
            
            this.list(0);
            this.getCategory(cid);
        },
        methods: {

            // list: function () {
			//
            //     var url = this.url + "?cid=" + cid;
            //     axios.get(url).then(function (response) {
			//
            //         vue.properties = response.data;
            //     })
            // },
			// 获取分类，用于面包屑名称
			getCategory: function(cid){

				var url = "category/" + cid + "/properties";
				axios.get(url).then(function (response) {

					vue.category = response.data;
				})
			},
			list: function(start){
			  
			    var url = "categories/" + cid + "/" + this.url + "?start=" + start;
			    axios.get(url).then(function (response) {

                    vue.pagination = response.data;
                    vue.properties = response.data.list;
                })
			},
            add: function () {
				
			    if (!checkEmpty(input, "属性名称")) {

                    var url = this.url;
                    axios.post(url, this.property).then(function (response) {

                        vue.list(1);
                        // 设置cid，不然下次插入的有时无法插入，数据库的cid为0
                        vue.property = {id:0, name:"", cid:cid};
                    })
				}
            },
			deleteProperty: function (id) {
				
                var url = this.url + "/" + id;
                axios.delete(url).then(function (response) {
					
                    vue.list(1);
                })
            },
			toFocus: function(id){

				var input = $("input[pid=" + id + "]").focus();
			},
			update: function(id){

				var url = "/properties";
				// 要用""拼接，''会出错
				var input = $("input[pid=" + id + "]");
				var value = input.val();

				vue.property.id = id;
				vue.property.name = value;
				vue.property.cid = cid;

				input.blur(axios.put(url, this.property).then(function () {

					vue.list(1);
					vue.isActive = true;
				}));

			},
			jump: function (page) {
				
			    if (page == "first" && 1 != vue.pagination.pageNum)
			        vue.list(1);
			    // else if (page == "pre" && vue.pagination.hasPreviousPage)
			    //     vue.list(vue.pagination.prePage);
			    // else if (page == "next" && vue.pagination.hasNextPage)
			    //     vue.list(vue.pagination.nextPage);
			    else if (page == "last" && vue.pagination.pages != vue.pagination.pageNum)
					vue.list(vue.pagination.pages);
            },
			jumpByNum: function (num) {
				
			    if (num != vue.pagination.pageNum)
			        vue.list(num);
            }
        }
    })
	
</script>

</body>
</html>