<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/resources.html :: resources">
</head>
<body>

<th:block th:replace="admin/admin.html :: navbar">

</th:block>

<div class="m-container" id="category">
	<div class="control-label">
		<span class="label label-success">分类管理</span>
	</div>
	<br>
	<ol class="breadcrumb">
		<li><a href="#">分类管理</a></li>
		<!--<li><a href="#">Library</a></li>-->
		<!--<li class="active">Data</li>-->
	</ol>
	<div class="categoryTable">
		<table class="table table-bordered">
			<thead class="bg-info">
				<tr>
					<th>ID</th>
					<th>图片</th>
					<th>分类名称</th>
					<th>属性管理</th>
					<th>产品管理</th>
					<th>编辑</th>
					<th>删除</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="bean in beans">
					<td>{{bean.id}}</td>
					<td>{{bean.name}}</td>
					<!--<td th:text="{bean.id}" width="100"></td>-->
					<!--&lt;!&ndash;<td><img th:src="@{/images/site/bg.jpg}" width="900" height="200"> </td>&ndash;&gt;-->
					<!--<td><img th:src="@{/images/category/{f}(f=${c.id} + '.jpg')"  width="900" height="200"> </td>-->
					<!--<td th:text="${bean.name}"></td>-->
					<!--<td> <span class="glyphicon glyphicon-th-list"></span> </td>-->
					<!--<td> <span class="glyphicon glyphicon-shopping-cart"></span> </td>-->
					<!--<td> <span class="glyphicon glyphicon-pencil"></span> </td>-->
					<!--<td> <span class="glyphicon glyphicon-trash"></span> </td>-->
				</tr>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">

	$(function () {

		var data4Vue = {

			urls: "",
			beans: []
		};

		var vue = new Vue({

			el: "#category",
			data: data4Vue,
			mounted: function () {
				this.list()
			},
			methods: {

				list: function () {

					var url = "categories";
					axios.get(url).then(function (response) {

						vue.beans = response.data;
						console.log(vue.beans);
					})
				}
			}
		})
	})

</script>

</body>
</html>