<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head th:include="admin/resources.html :: resources">
</head>
<body>

<div th:replace="admin/admin.html :: navbar"></div>
<div class="m-container" id="listProductImage">
	<div class="control-label">
		<span class="label label-success">产品图片管理</span>
	</div>
	<br>
	<ol class="breadcrumb">
		<li><a href="admin_category_list">所有分类</a></li>
		<li><a href="'admin_product_list?cid='+category.id">{{category.name}}</a></li>
		<li><a href="admin_product_list">{{product.name}}</a></li>
		<li class="active">产品图片管理</li>
	</ol>
	<div class="productImageDiv">
		<div class="row">
			<div class="col-xs-4 col-xs-push-1">
				<div class="productSingleImg">
					<div class="panel panel-info">
						<div class="panel-heading">
							新增产品单个图片
						</div>
						<div class="panel-body">
							<!--图片上传-->
							<input accept="image/*" type="file" name="image" @change="getSingleFile($event)" />
						</div>
						<div class="submitBtn">
							<button type="submit" @click="addSingle" class="btn btn-success">添加</button>
						</div>
					</div>
					<table class="table table-bordered">
						<thead class="bg-info">
							<tr>
								<th>ID</th>
								<th>单个产品图片</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="pi in singleImages">
								<td>{{pi.id}}</td>
								<td>
									<img width="200" height="100" :src="'images/productSingle/'+pi.id+'.jpg'">
								</td>
								<td>
									<!--我艹，这个:href....导致一直加载不出，测试又正常-->
									<a :href="'admin_productImage_delete' + pi.id" @click="deleteSingle($event,pi.id)">
										<span class="glyphicon glyphicon-trash"></span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-xs-4 col-xs-push-3">
				<div class="productDetailImg">
					<div class="panel panel-info">
						<div class="panel-heading">
							新增产品详情图片
						</div>
						<div class="panel-body">
							<!--图片上传-->
							<input accept="image/*" id="detailPic" type="file" name="image" @change="getDetailFile($event)" />
						</div>
						<div class="submitBtn">
							<button type="submit" @click="addDetail" class="btn btn-success">添加</button>
						</div>
					</div>
					<table class="table table-bordered">
						<thead class="bg-info">
							<tr>
								<th>ID</th>
								<th>产品详情图片</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="pi in detailImages">
								<td>{{pi.id}}</td>
								<td>
									<img :src="'images/productDetail/'+pi.id+'.jpg'" width="200px" height="100">
								</td>
								<td>
									<a :href="'admin_productImage_delete'+pi.id" @click="deleteDetail($event, pi.id)" >
										<span class="glyphicon glyphicon-trash"></span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

	var id = getUrlParam("id");
	
	var data4Vue = {

	    url: "products",
	    singleImages: [],
	    detailImages: [],
		singleFile: null,
		detailFile: null,
		product: "",
		category: "",
	};

	var vue = new Vue({
		
		el: "#listProductImage",
		data: data4Vue,
		mounted: function () {
			
		    this.listSingles();
		    this.listDetails();
		    this.getProduct();
		    // this.getCategory();
        },
		methods: {

            listSingles: function () {
				
		        var url = this.url + "/" + id + "/productImages?type=single";
		        axios.get(url).then(function (response) {
					
		            vue.singleImages = response.data;
                })
            },
            listDetails: function () {

                var url = this.url + "/" + id + "/productImages?type=detail";
                axios.get(url).then(function (response) {

                    vue.detailImages = response.data;
                })
            },
            addSingle: function () {
				
                if (!isEmpty(this.singleFile, "单个产品图片"))
                    return;
                
                var formData = new FormData();
                formData.append("image", this.singleFile);
                
                var url = "productImages?type=single&pid="+id;
				
                axios.post(url, formData).then(function (response) {
					
                    vue.listSingles();
                    vue.productImage = response.productImage;
                    // 上传完图片刷新浏览器
                    window.location.reload();
                })
            },
            addDetail: function () {

                if (!isEmpty(this.detailFile, "产品详情图片"))
                    return;

                var formData = new FormData();
                formData.append("image", this.detailFile);

                var url = "productImages?type=detail&pid="+id;
                
                axios.post(url, formData).then(function (response) {

                    vue.listDetails();
                    vue.product = response.data;
                    // 上传完图片刷新浏览器
                    window.location.reload();
                })
            },
            getSingleFile: function (e) {
				
                this.singleFile = e.target.files[0];
            },
            getDetailFile: function (e) {

                this.detailFile = e.target.files[0];
            },
			// 获取产品以及分类，用于面包屑
			getProduct: function () {
				
                var url = "productImages/" + id;
                axios.get(url).then(function (response) {
					
                    vue.product = response.data;
                    vue.category = vue.product.category;
                })
            },
            deleteSingle: function (e, id) {
				
                e.preventDefault();
                var url = "productImages/" + id + "?type=single";
                axios.delete(url).then(function (response) {
					
                    vue.listSingles();
                })
            },
            deleteDetail: function (e, id) {

                e.preventDefault();
                var url = "productImages/" + id +"?type=detail";
                axios.delete(url).then(function (response) {

                    vue.listDetails();
                })
            }
		}
	})
	
</script>

</body>
</html>