<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="resources">
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="/static/css/admin.css" th:href="@{/css/admin.css}">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
	<script src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../../static/js/axios.min.js" th:src="@{/js/axios.min.js}"></script>
	<script src="../../static/js/vue.min.js" th:src="@{/js/vue.min.js}"></script>
</head>
<body>

<!--<div class="container showing">-->
	<!--<table class="table table-bordered">-->
		<!--<tr th:each="u : ${us}">-->
			<!--<td th:text="${u.id}"></td>-->
			<!--<td th:text="${u.name}"></td>-->
			<!--<td th:text="${u.password}"></td>-->
		<!--</tr>-->
	<!--</table>-->
	<!---->
	<!--<br>-->
	<!--<table>-->
		<!--<tr th:each="c : ${cs}">-->
			<!--<td th:text="${c.id}"></td>-->
			<!--<td th:text="${c.name}"></td>-->
		<!--</tr>-->
	<!--</table>-->
	<!---->
	<!--<div th:fragment="test">-->
		<!--<h3>我这里是fragment</h3>-->
	<!--</div>-->
	<!---->
<!--</div>-->

</body>
</html>