<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:c="http://www.w3.org/1999/XSL/Transform">
<!--include admin/user.html文件下的 fragment(resources)片段-->
<head th:include="admin/resources.html :: resources">
</head>
<body>

<div class="m-container" th:fragment="navbarAndSearch">
	<div class="navbar">
		<span> <a href="forehome" class="glyphicon glyphicon-home">天猫首页</a> </span>
		<span>喵，欢迎来天猫</span>
		<span><a href="login">请登录</a></span>
		<span><a href="register">免费注册</a></span>
		<span class="pull-right">
		<a href="#" id="order" class="glyphicon glyphicon-user">我的订单</a>
		<a href="#" id="cart" class="glyphicon glyphicon-shopping-cart">购物车<span id="totalNum"></span>件</a>
	</span>
	</div>
	<div class="logoAndSearch">
		<div class="logo pull-left">
			<img src="images/site/logo.gif" alt="">
		</div>
		<div class="search pull-right">
			<input type="text" class="searchInput" placeholder="小米9Pro 5G MacBook Pro">
			<button type="button" class="glyphicon glyphicon-search searchBtn">搜索</button>
		</div>
	</div>
</div>

</body>
</html>