<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:c="http://www.w3.org/1999/XSL/Transform">
<!--include admin/user.html文件下的 fragment(resources)片段-->
<head th:include="admin/resources.html :: resources">
    <title>首页</title>
</head>
<body>
<div class="m-container">
    <!--<div class="navbarAndSearch" th:fragment="navbarAndSearch">-->
        <div class="navbar" th:fragment="navbar">
            <span> <a href="forehome" class="glyphicon glyphicon-home">天猫首页</a> </span>
            <span>喵，欢迎来天猫</span>
            <span><a href="to_login">请登录</a></span>
            <span><a href="to_register">免费注册</a></span>
            <span class="pull-right">
            <a href="order" id="order" class="glyphicon glyphicon-user">我的订单</a>
            <a href="cart" id="cart" class="glyphicon glyphicon-shopping-cart">购物车<span id="totalNum"></span>件</a>
        </span>
        </div>
        <div class="logoAndSearch" th:fragment="logoAndSearch">
            <div class="logo pull-left">
                <img src="images/site/logo.gif" alt="">
            </div>
            <div class="search pull-right">
                <input type="text" class="searchInput" placeholder="小米9Pro 5G MacBook Pro">
                <button type="button" class="glyphicon glyphicon-search searchBtn">搜索</button>
            </div>
        </div>
    </div>
    <div id="carousel-example-generic container" class="carousel slide container" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="images/site/lunbo1.jpg">
            </div>
            <div class="item">
                <img src="images/site/lunbo2.jpg">
            </div>
            <div class="item">
                <img src="images/site/lunbo3.jpg">
            </div>
        </div>
    </div>
    <div class="Content">
        <!--所有分类-->
        <div class="homepageCategoryProduct" th:each="c : ${cs}">
            <!--每一个分类-->
            <div class="eachCategoryOfProducts">
                <div class="left-mark"></div>
                <span class="categoryName" th:text="${c.name}"></span>
                <br>
                <!--每一个分类的产品-->
                <div class="productItem" th:each="p : ${c.products}">
                    <a th:href="'foreproduct?pid='+${p.id}">
                        <!--EL表达式拼接-->
                        <img th:src="'images/productSingle/'+${p.productImage.id}+'.jpg'" class="productItemImg">
                    </a>
                    <a th:href="'foreproduct?pid='+${p.id}">
                        <span class="productName" th:text="${p.name}"></span>
                    </a>
                    <br>
                    <span class="productPrice" th:text="${p.originalPrice}"></span>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
        <div class="endImg">
            <img src="images/site/end.png">
        </div>
    </div>
    <div class="footer" th:fragment="footer">
        <div class="ensureImgDiv">
            <img src="images/site/ensure.png" alt="">
        </div>
        <ul>
            <p>个人博客: <a href="https://bugcoder.xyz/">bugcoder.xyz</a></p>
            <p>作者详情: <a href="aboutMe.jsp">aboutMe</a></p>
            <p>Powered By SpringBoot</p>
        </ul>
    </div>
</div>
</body>
</html>