<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:c="http://www.w3.org/1999/XSL/Transform">
<!--include admin/user.html文件下的 fragment(resources)片段-->
<head th:replace="fore/resources.html :: resources">
	<title>首页</title>
</head>
<body>

<div class="m-container">
	<div th:replace="fore/home.html :: navbar"></div>
	<div th:replace="fore/home.html :: logoAndSearch"></div>
	<div class="orderPageDiv">
		<div class="orderTableDiv">
			<table class="table table-bordered">
				<thead class="orderTableBg">
				<tr>
					<th>宝贝</th>
					<th>单价</th>
					<th>数量</th>
					<th>金额</th>
					<th>交易操作</th>
				</tr>
				</thead>
				<!--外层循环写在tr里的话，会报错orderItemList 为Null-->
				<tbody class="orderTableTbody" th:each="o : ${os}">
					<tr class="orderTableTR" >
						<td th:text="${#dates.format(o.createDate, 'yyyy-MM-dd HH:mm:ss')}">
						</td>
						<td th:text="'订单号: '+${o.orderCode}"></td>
						<td>
							<img src="images/site/tmallbuy.png" class="tmallbuyImg">天猫商场
						</td>
						<td>
							<a class="contactMeLink" href="#">
								<img src="images/site/wangwang.png" class="tmallbuyImg">和我联系
							</a>
						</td>
						<td>
							<a href=""><span class="glyphicon glyphicon-trash"></span></a>
						</td>
					</tr>
					<tr th:each="oi : ${o.orderItemList}" >
						<td colspan="2">
							<img th:src="'images/productSingle/'+${oi.product.productImage.id}+'.jpg'"
								 class="orderProductImg">
							<span>
								<a  class="productDetailLink"
									th:href="'foreproduct?pid='+${oi.product.id}" th:text="${oi.product.name}">
								</a>
							</span>
						</td>
						<td th:text="${o.totalNum}"></td>
						<td th:text="${o.total}"></td>
						<td th:if="${o.status=='finish'}">交易完成</td>
						<td th:if="${o.status=='waitDelivery'}" >待发货</td>
						<td th:if="${o.status=='waitPay'}" >待付款</td>
						<td th:if="${o.status=='waitConfirm'}" >待收货</td>
						<td th:if="${o.status=='waitReview'}" >待评价</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="footer" th:replace="fore/home.html :: footer"></div>
</div>

</body>
</html>