<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:c="http://www.w3.org/1999/XSL/Transform">
<!--include admin/user.html文件下的 fragment(resources)片段-->
<head th:replace="fore/resources.html :: resources">
	<title>注册</title>
</head>
<script>

    $(function () {

        // 失去焦点验证
        $("#username").blur(checkUsername);
        $("#password").blur(checkPass);
        $("#confirmPass").blur(checkConfirmPass);

        // 表单提交
        $("#regForm").submit(function () {

            // 验证全部通过时，提交表单，反之不提交
            if (checkUsername() && checkPass() && checkConfirmPass()){

                return true;
            }

            return false;
        });
    });

    function checkUsername() {
        // 1.获取输入框
        var username = $("#username").val();
        // 2.定义正则
        var reg_username = /^\w{5,20}$/;
        var flag = reg_username.test(username);
        if (flag){

            $("#username").css("border", "3px solid green");
        }else {

            $("#username").css("border", "3px solid red");
            $("span.errorMsg").text("用户名长度要>=5")
        }
        return flag;
    }
    function checkPass() {
        // 1.获取输入框
        var password = $("#password").val();
        // 2.定义正则
        var reg_password = /^\w{5,20}$/;
        var flag = reg_password.test(password);

        if (flag){

            $("#password").css("border", "3px solid green");
        }else {

            $("#password").css("border", "3px solid red");
            $("span.errorMsg").text("密码长度要>=5")
        }
        return flag;
    }
    function checkConfirmPass() {

        var password = $("#password").val();
        var confirmPass = $("#confirmPass").val();
        var flag = true;

        if (password == confirmPass){

            flag = true;
            $("#confirmPass").css("border", "3px solid green");
        }else {

            flag = false;
            $("#confirmPass").css("border", "3px solid red");
            $("span.errorMsg").text("两次密码不一致")
        }
        return flag;
    }

</script>
<body>

<div class="m-container">
	<div th:replace="fore/home.html :: navbar"></div>
	<div th:replace="fore/home.html :: logoAndSearch"></div>
	<div class="registerDiv">
		<form action="register" method="post" id="regForm">
			<div class="registerInfoDiv">
				<div class="registerErrorInfo">
					<span class="errorMsg" th:text="${msg}"></span>
				</div>
			</div>
			<table class="registerTable" align="center">
				<tr>
					<td class="registerTips">设置用户名</td>
					<td></td>
				</tr>
				<tr>
					<td class="registerInput">用户名</td>
					<td><input type="text" id="username" name="name" placeholder="请输入用户名"></td>
				</tr>
				<tr>
					<td class="registerTips">设置登录密码</td>
					<td></td>
				</tr>
				<tr>
					<td class="registerInput">登陆密码</td>
					<td><input type="password" id="password" name="password" placeholder="请输入登录密码"></td>
				</tr>
				<tr>
					<td class="registerInput">密码确认</td>
					<td><input type="password" id="confirmPass" name="confirmPass" placeholder="请输入登录密码"></td>
				</tr>
				<tr>
					<td><a href="#"><button class="submitBtn" >注册</button></a></td>
					<td></td>
				</tr>
			</table>
		</form>
	</div>
	<div class="footer" th:replace="fore/home.html :: footer"></div>
</div>

</body>
</html>