
div.formDiv{

    margin-top: 200px;
}

body.bgImage{

    background: url("../images/site/bg.jpeg") no-repeat;
    background-size: cover;
}

div.marginTop{

    margin-top: 50px;
}

h1.noMargin{

    margin-top: 0;
}

div.marginTop ul li>a{

    color: black;
    text-align: center;
}

div.m-container{

    width: 1400px;
    margin: 0 auto;
}

div.editPropertyDiv{

    width: 400px;
    height: 300px;
    margin: 0 auto;
}

div.editPropertyValueDiv{

    width: 750px;
    margin: 0 auto;
}

div.eachPV{

    display: inline-block;
    margin: 10px 0;
}

span.pvValueName{

    margin-left: 10px;
    width: 140px;
    display: inline-block;
}

span.pvValueText{

    width: 200px;
    display: inline-block;
}

div.paginationDiv{

    width: 230px;
    margin: 0 auto;
}

div.submitBtn{

    margin-left: 170px;
}

.loginUsername{

    height: 100px;
}

.loginPassword{

    height: 60px;
}

div.loginErrorMsg{

    width: 350px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #ebccd1;
    color: #c4352f;
    display: none;
}

td.loginTips{

    font-weight: bold;
}

div.forgetPwdAndRegisterLink{

    margin-top: 20px;
}

a.forgetPwdLink{

    margin-left: 20px;
    text-decoration: none;
    color: black;
}

a.forgetPwdLink:hover{

    color: red;
}

a.registerLink{

    margin-right: 20px;
    text-decoration: none;
    color: black;
}

a.registerLink:hover{

    color: red;
}
