
div.formDiv{

    margin-top: 200px;
}

body.bgImage{

    background: url("../images/site/bg.jpeg") no-repeat;
    background-size: cover;
}

div.marginTop{

    margin-top: 50px;
}

h1.noMargin{

    margin-top: 0;
}

div.marginTop ul li>a{

    color: black;
    text-align: center;
}

div.m-container{

    width: 1400px;
    margin: 0 auto;
}

div.editPropertyDiv{

    width: 400px;
    height: 300px;
    margin: 0 auto;
}

div.editPropertyValueDiv{

    width: 750px;
    margin: 0 auto;
}

div.eachPV{

    display: inline-block;
    margin: 10px 0;
}

span.pvValueName{

    margin-left: 10px;
    width: 140px;
    display: inline-block;
}

span.pvValueText{

    width: 200px;
    display: inline-block;
}

div.paginationDiv{

    width: 230px;
    margin: 0 auto;
}


