/*导航*/
span a{

    text-decoration: none;
    color: gray;
}

div.container-fluid{

    margin: 0 200px;
}

div.search{

    margin-top: 50px;
    margin-right: 60px;
}

input.searchInput{

    height: 50px;
    width: 250px;
    border-radius: 5px;
}

button.searchBtn{

    background: #C40000;
    height: 50px;
    width: 100px;
    text-decoration: none;
    color: black;
}

div.Content{

    width: 1140px;
    margin: 0 auto;
}

div.left-mark {

    display: inline-block;
    height: 20px;
    vertical-align: top;
    width: 5px;
    background-color: #19C8A9;
    /*margin-top: 20px;*/
}

span.categoryName{

    margin-left: 30px;
    font-size: 18px;
    font-weight: bold;
}

div.eachCategoryOfProducts{

    margin: 0 0 30px 0;
}

div.productItem:hover{

    border: 1px gray solid;
}

div.productItem{

    width: 189px;
    height: 285px;
    border: 1px solid white;
    background-color: white;
    margin: 10px 15px;
    float: right;
    cursor: pointer;
}

img.productItemImg{

    width: 189px;
    height: 200px;
}

div.homepageCategoryProduct{

    background-color: #F5F5F5;
    padding: 50px 10px 10px 10px;
    margin: 0 auto;
}

div.endImg{

    text-align: center;
    background-color: #F5F5F5;
}

span.productPrice{

    font-weight: bold;
    color: #c9302c;
    margin-left: 60px;
}


